* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body > * {
  width: 100vw;
}

header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15vw;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 64px 15vw;
}

.hero .no-img {
  padding-right: 16px;
}

.hero .main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero .secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.hero img {
  width: 50%;
}

.signup {
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 4px 24px;
  margin-top: 8px;
  border-radius: 5px;
  border-style: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 25vw;
  gap: 16px;
}

.info .main {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.info .tiles {
  display: flex;
  justify-content: space-evenly;
}

.info .tile {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px;
}

.tile img {
  border-radius: 5px;
  border: 2px solid #3882f6;
  width: 100%;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.tile figcaption {
  color: #1f2937;
  text-align: center;
}